<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
    <title>Delete File - Moonlight Upload</title>
    <meta charset="utf-8">
    <meta name=”viewport” content=”width=device-width, initial-scale=1.0”>
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pico.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/theme.css') }}">
</head>
<body class="bg-dark text-light">
    <div class="container-center">
        <div class="container p-4">
            <h1 class="mb-3">Delete File</h1>
            <form method="POST" action="/delete">
                <input type="text" name="key" required>
                <button type="submit" class="btn btn-danger mt-3 btn-delete">Delete</button>
            </form>
            <a class="btn btn-secondary mt-3" href="{{ url_for('index') }}">Back to Home</a>
            {% if error %}
            <p class="error-message mt-3">{{ error }}</p>
            {% endif %}
        </div>
        <div class="footer">
            <footer>
                <small class="smallprints"><a href="/tos">Terms of Service</a> | <a href="/privacy">Privacy Policy</a></small>
                <br>
                <small>2023, Made with ❤️ by <a href="#" target="_blank">Insomnia</a></small>
            </footer>
        </div>
    </div>
</body>
</html>
