<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
    <title>Download - Moonlight Upload</title>
    <meta charset="utf-8">
    <meta name=”viewport” content=”width=device-width, initial-scale=1.0”>
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pico.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/theme.css') }}">
</head>
<body class="bg-dark text-light">
    <div class="container-center">
        <div class="container p-4">
            <div class="midnighttitle">
                <div>
                    <div class="title-container">
                        <img class="logo-img" src="{{ url_for('static', filename='img/logo.webp') }}">
                        <img class="logo-text" src="{{ url_for('static', filename='img/logo6.png') }}">
                        <img class="logo-mini" src="{{ url_for('static', filename='img/logomini.png') }}">
                        <br>
                        <br>
                        <small class="title-smallprints">No JS, No Cookies, No ads, No Censorship, No Glowies, Your files, your business...</small>
                        <hr class="rounded">
                    </div>
                </div>
            </div>
            <p>You can download your file "{{ upload.filename }}" here:</p>
            <a class="btn btn-primary" href="{{ url_for('download', folder=upload.folder, filename=upload.filename) }}">Download {{ upload.filename }}</a>
        </div>

        {% if upload.filename.endswith(('.mp4', '.webm')) %}
        <br>
        <hr/>
        <article class="article-content video-article">
            <h1 style="text-align: center;">Media:</h1>
            <br>
            <div class="mt-4 video-box">
                <video width="640" height="360" controls preload="none" poster="{{ preview_url }}" controlsList="nodownload" playsinline loop muted class="video-player">
                    <source src="{{ url_for('media', folder=upload.folder, filename=upload.filename) }}" type="{{ media_type }}">
                </video>
            </div>
        </article>
        <hr/>
        {% endif %}

        <div>
            {% if preview_url %}
            <article class="article-content preview-article">
                <div class="mt-4">
                    <h1>Preview:</h1>
                    <div class="d-flex justify-content-center">
                        <img src="{{ preview_url }}" alt="Preview" class="img-fluid img-preview">
                    </div>
                </div>
                <div class="mt-4">
                    <p class="mt-4">File Size: <strong>{{ '%.1f'|format(upload.file_size_mb) }} MB</strong></p>
                    <p class="mt-4">Upload Date: <strong>{{ upload.upload_date }}</strong></p>
                    <p class="mt-4">Views: <strong>{{ view_count }}</strong></p>
                    <p class="mt-4">Downloads: <strong>{{ download_count }}</strong></p>
                </div>
            </article>
            {% else %}
            <article class="article-content ads-container preview-article">
                <p class="mt-4">File Size: <strong>{{ '%.1f'|format(upload.file_size_mb) }} MB</strong></p>
                <p class="mt-4">Upload Date: <strong>{{ upload.upload_date }}</strong></p>
                <p class="mt-4">Views: <strong>{{ view_count }}</strong></p>
                <p class="mt-4">Downloads: <strong>{{ download_count }}</strong></p>
            </article>
            {% endif %}
        </div>

        <details>
            <summary role="button" class="outline">What is Moonlight Upload ?</summary>
            <hr />
            <article class="article-content moontext">
                🌙 Welcome to Moonlight Upload, where the night is dark, and so are yours secrets. 
                <br>
                <br>
                🚫 No glowies here, just an online sanctuary for the internet's underground. We don't ask questions, and we don't keep logs. Your files, your business. 
                <br>
                <br>
                🌐 No geolocation, no bloated scripts, no cookies, no JS, no censorship. 
                <br>
                <br>
                🔒 Unleash your content in the shadows. We're your digital haven where anonymity reigns supreme. File hosting without the fuss. 
                <br>
                <br>
                💰 No fancy suits or corporate greed. Just good ol' file sharing. It's like the wild west of the web, and you're the outlaw. 
                <br>
                <br>
                🌌 Join us under the moonlight, where anonymity meets freedom. 
            </article>
            <hr/>
        </details>

        <div>
            <article class="article-content moontext" style="text-align: center;">
                <h2 class="mt-4">Donate to Moonlight Upload (Keep the Moonlight Shining):</h2>
                <br>
                <img class="monerochan" src="{{ url_for('static', filename='img/monerochan2.png') }}">
                <br>
                <br>
                🌙 Moonlight Upload relies on the support of our users to keep the moon shining bright. If you enjoy our services and want to help us continue providing a safe and private space for file sharing, consider making a donation.
                <br>
                <br>
                Your support is invaluable and goes a long way in maintaining our platform. Every contribution, big or small, is greatly appreciated. To make a donation, please use Monero and follow the instructions below:
                <br>
                <br>
                <strong>Scan the QR Code:</strong>Use your Monero wallet to scan our QR code.
                <br>
                <br>
                <strong>Send Monero:</strong>Send your donation to our Monero address: [Monero Address].
                <br>
                <br>
                <strong>Thank you for being a part of our community and for your support. Together, we can keep Moonlight Upload thriving!</strong>
            </article>
        </div>
        <hr>
        <div style="text-align: center;">
            <a class="btn btn-primary" href="{{ url_for('index') }}">Home</a>
        </div>
        <div class="footer">
            <footer>
                <small class="smallprints"><a href="/tos">Terms of Service</a> | <a href="/privacy">Privacy Policy</a></small>
                <br>
                <small>2023, Made with ❤️ by <a href="#" target="_blank">Insomnia</a></small>
            </footer>
        </div>
    </div>
</body>
</html>
