:root {
  --bg: linear-gradient(180deg, rgb(31, 28, 46) 0%, rgb(19, 17, 26) 100%);
  --bgi: linear-gradient(180deg, rgb(38, 35, 56) 0%, rgb(30, 27, 41) 100%);
  --blur: 1rem;
  --fs: clamp(5rem, 5vw, 5rem);
  --ls: clamp(-1.75px, -0.25vw, -3.5px);
  --pico-border-radius: 5px 20px 5px;
  --pico-typography-spacing-vertical: 1.5rem;
  --pico-form-element-spacing-vertical: 1rem;
  --pico-form-element-spacing-horizontal: 1.25rem;
}

body {
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#295270", endColorstr="#524175", GradientType=1 );  
  min-height: 100vh;
  display: grid;
  place-items: center;
  color: #f1f1f1;
  font-family: arial;
  font-weight: 400;
  width: 100%;
}

*,
*::before,
*::after {
  font-family: inherit;
  box-sizing: border-box;
}

.content {
  text-align: center;
}

.title {
  font-family: arial;
  font-size: var(--fs);
  letter-spacing: var(--ls);
  font-weight: 500;
  position: relative;
  overflow: hidden;
  background: linear-gradient(to right, #30CFD0 0%, #3f196e 100%);
	background-size: 180% 180%;
	animation: gradient-animation 6s ease infinite;
  margin: 0;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title-container{
  float: left; margin: 0px 15px 15px 0px;
  display: center;
  align-items: center;
  animation: fadeIn 1s ease-in-out;
}

.logo-img{
  border-radius: 200px 200px 22px 23px;
  -webkit-border-radius: 200px 200px 22px 23px;
  -moz-border-radius: 200px 200px 22px 23px;
  border: 8px solid #0000003b;
  box-shadow: 10px 10px #0b0a3163;
  max-width: 30%;
  margin: 0;
  animation: fadeIn 1s ease-in-out;
}

.logo-text{
  position: relative;
  overflow: hidden;
	background-size: 180% 180%;
  mask-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
  -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
	animation: gradient-animation 6s ease infinite;
  margin-top: 40px;
  margin-bottom: 15px;
}

.logo-mini{
  mask-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
  -webkit-mask-image: linear-gradient(to top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
	animation: gradient-animation 6s ease infinite;
}

.subtitle {
    color: rgba(228, 223, 223, 0.705);
    font-weight: 50;
    margin: 10;
}

.title-subtitle{
  font-family: arial;
  font-weight: 200;
  background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
	background-size: 180% 180%;
	animation: gradient-animation 6s ease infinite;
  margin: 0;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

button {
  --pico-font-weight: 700;
  box-shadow: 10px 10px #0807303a;
}

h1 {
  --pico-font-weight: 400;
  --pico-typography-spacing-vertical: 0.5rem;
}

.ad-title{
  opacity: 0.33;
}

.ads{
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: 10px 10px #0807303a;
  animation: fadeIn 1s ease-in-out;
}

.ad-grid{
  animation: fadeIn 1s ease-in-out;
}

.ads-place{
  margin-right: 10px;
  margin-bottom: 10px;
  animation: fadeIn 1s ease-in-out;
}

.ads-download{
  text-align: center;
}

hr.rounded {
  border-top: 2px solid rgba(133, 103, 233, 0.479);
  border-radius: 10px;
}

.smallprints{
  opacity: 0.40;
}

.title-smallprints{
  opacity: 0.40;
}

.btn-success{
  background-image: linear-gradient(to right top, #171823, #20223a, #282d52, #32376b, #3d4285);
  background-size: cover;
  box-shadow: 10px 10px #0b0a3163;
}

.btn-delete{
  box-shadow: 10px 10px #0b0a3163;
}

.article-content{
  background-image: var(--bgi);
  background-size: cover;
  box-shadow: 10px 10px #0b0a3163;
}

.text-center{
  text-align: center;
  opacity: 0.50;
}

.img-fluid{
  box-shadow: 10px 10px #0807303a;
}

.img-preview{
  max-width:700px;
  max-height:600px;
  width: auto;
  height: auto;
}

.preview-article{
  text-align: center;
}

.video-player{
  clip-path: inset(10px 10px);
  width:100%; right: 0; top: 0;
  box-shadow: 10px 10px #0807303a;
}

.video-article{
  margin-top: 0;
}

.video-box{
  margin-top: 0;
  margin: 0;
}

.moontext{
  font-size: 20px;
}

.monerochan{
  max-width: 70%;
  height: auto;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes gradient-animation {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@-ms-viewport{
  width: device-width;
}

@media (max-width: 1000px) {
  body{
    width: 100%;
    font-size: 20px;
    place-items: relative;
  }
  h5{
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  body {
      font-size: 14px;
  }
}

@media (max-width: 480px) {
  body {
      font-size: 12px;
  }
}


[data-theme=light],
:root:not([data-theme=dark]) {
  --pico-text-selection-color: rgba(148, 134, 225, 0.25);
  --pico-primary: #655cd6;
  --pico-primary-background: #524ed2;
  --pico-primary-underline: rgba(101, 92, 214, 0.5);
  --pico-primary-hover: #4040bf;
  --pico-primary-hover-background: #4040bf;
  --pico-primary-focus: rgba(148, 134, 225, 0.25);
  --pico-primary-inverse: #fff;
}

@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --pico-text-selection-color: rgba(162, 148, 229, 0.1875);
    --pico-primary: #a294e5;
    --pico-primary-background: #524ed2;
    --pico-primary-underline: rgba(162, 148, 229, 0.5);
    --pico-primary-hover: #bdb2ec;
    --pico-primary-hover-background: #655cd6;
    --pico-primary-focus: rgba(162, 148, 229, 0.25);
    --pico-primary-inverse: #fff;
  }
}

[data-theme=dark] {
  --pico-text-selection-color: rgba(162, 148, 229, 0.1875);
  --pico-primary: #a294e5;
  --pico-primary-background: #524ed2;
  --pico-primary-underline: rgba(162, 148, 229, 0.5);
  --pico-primary-hover: #bdb2ec;
  --pico-primary-hover-background: #655cd6;
  --pico-primary-focus: rgba(162, 148, 229, 0.25);
  --pico-primary-inverse: #fff;
}

:where(:root) {
  background: var(--bg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}